@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Libre+Franklin&family=Montserrat&family=Mulish&family=Nunito&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  --light-grey: #f6f9fc;
  --dark-terminal-color: #0a2540;
  --accent-color: #222222;
  --radius: 3px;

  /* accordion */
    --gh-pattern-1: #fff4f9;
  --gh-pattern-2: #ffebf1;
  --gh-pattern-3: #ffe3d7;
  --gh-pattern-4: #ffe2b1;
  --gh-pattern-5: #ffea8b;

  --gh-blue-0: #e3f1f7;
  --gh-blue-1: #e6ebff;
  --gh-blue-2: #a2ddf6;
  --gh-blue-3: #7dcff2;
  --gh-blue-4: #58c1ee;
  --gh-blue-5: #33b4eb;
  --gh-blue-6: #16a3df;
  --gh-blue-7: #1287ba;
  --gh-blue-8: #0f6c95;
  --gh-blue-9: #0a41fa;
  --gh-blue-10: #101068;

  --transition: all 0.3s linear;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}

body {
  background-color: white;

  @apply scrollbar-thin scrollbar-thumb-[#222222] scrollbar-track-transparent scrollbar-thumb-rounded-full
}

h1 {
  font-family: "Poppins", 'Roboto', sans-serif;
  font-style: normal;
  color: #222222;
}

h2 {
  font-family: "Poppins", 'Roboto', sans-serif;
  font-style: normal;
  color: #222222;
  font-size: 2.25rem;
}

/* this is for h1 tags at the tops of pages that should be styled like an h2 */
.page-header {
  font-family: "Poppins", 'Roboto', sans-serif;
  font-style: normal;
  color: #222222;
  font-size: 2.25rem;
}

p {
  font-family: "Poppins", 'Roboto', sans-serif;
  font-style: normal;
  color: #241c15;
  font-size: 1.1rem;
}

ul li {
  font-family: "Poppins", 'Roboto', sans-serif;
  font-style: normal;
  color: #241c15;
  font-size: 1rem;
}

form > * {
  margin: 10px 0;
}

#submit {
  background-color: var(--accent-color);
}

#submit{
  background: var(--accent-color);
  border-radius: var(--radius);
  color: white;
  border: 0;
  padding: 12px 16px;
  margin-top: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: block;
}
#submit:hover {
  filter: contrast(115%);
}
#submit:active {
  transform: translateY(0px) scale(0.98);
  filter: brightness(0.9);
}
#submit:disabled {
  opacity: 0.5;
  cursor: none;
}

input,
select {
  display: block;
  font-size: 1.1em;
  width: 100%;
  margin-bottom: 10px;
}

label {
  display: block;
}

/* #payment-form */

#payment-form a {
  color: var(--accent-color);
  font-weight: 900;
}

fieldset,
input,
select {
  border: 1px solid #efefef;
}

#payment-form {
  border: #f6f9fc solid 1px;
  border-radius: var(--radius);
  padding: 20px;
  margin: 20px 0;
  /* box-shadow: 0 30px 50px -20px rgb(50 50 93 / 25%),
    0 30px 60px -30px rgb(0 0 0 / 30%); */
}

#messages {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New";
  display: none; /* hide initially, then show once the first message arrives */
  background-color: #0a253c;
  color: #00d924;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--radius);
  font-size: 0.7em;
}

select {
	appearance: none;
}

#select-label::after {
	content: '';
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
	border-top-color: #222;
	position: absolute;
	right: 10px;
	bottom: 10px;
	transform: translate(-50%, -50%);
}

@media (min-width: 0px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 17px;
  }
}

.hover-menu {
  background-color: rgba(78, 78, 78, 0.398);
}

.btn-5 {  
  box-shadow: 8px 8px 0px -2px #222222;
  transition: all 75ms linear;
}

.btn-5:hover, .btn-5:focus {
  box-shadow: 0px 0px 0px 0px #222222;
  background-color: rgba(0, 0, 0, 0.03);
}

/* Accordion */
.expendable-button {
  border: none;
  cursor: pointer;
  padding: 0 10px;
  width: 2px;
  margin-right: 10px;
}

.main-title {
  margin: 20px 0 10px 0;
  text-align: left;
  font-weight: 500;
}

.main-title-underline {
  text-align: left;
  height: 0.15rem;
  margin-bottom: 40px;
}

.accordion-container {
  font-size: 20px;
  margin-top: 10px;
}

.acc-underline {
  width: 100%;
  height: 1px;
  background: rgb(197, 197, 197);
  margin: 20px auto;
}

.column-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.column-container:hover {
  width: 100%;
}

.text-container {
  text-align: left;
  max-height: 350px;
  opacity: 1;
  animation-name: textanimate;
  animation-duration: 1s;
}

@keyframes textanimate {
  0% {
    opacity: 0;
    max-height: 15px;
  }
  100% {
    opacity: 1;
    max-height: 350px;
  }
}